<!DOCTYPE html>
<html ng-app="app">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="//underscorejs.org/underscore-min.js"></script>
<script>
var app = angular.module('app', ['ui.bootstrap']);

app.filter('reverse', function() {
  return function(items) {
    return items.slice().reverse();
  };
});

app.controller('testController', function($scope, $http) {
    function determineAge (age) {
        var ageUpperBrackets = [21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60];
        for (var i = 0; i < ageUpperBrackets.length; i++) {
            if (age <= ageUpperBrackets[i]) {
                return i;
            }
        }
    }

    function resetScore () {
        return {
            situp: 0,
            pushup: 0,
            run: 0
        }
    }

    $scope.scores = resetScore();

    $scope.totalScore = function () {
        return _.reduce(_.values($scope.scores), function (memo, num) { 
            return memo + num; 
        }, 0);
    }

    $(function() {
        $("#slider-range-max").slider({
            range: "max",
            min: 18,
            max: 60,
            value: 1,
            slide: function( event, ui ) {
                $("#amount").val(ui.value);
                $scope.scores = resetScore();
                $scope.ageGroup = determineAge(ui.value);
                initialize();
                $scope.$apply();
            }
        });

        $("#amount").val($("#slider-range-max").slider("value"));
    });

    $scope.secsToMinSec = function(seconds) {
        seconds = parseInt(seconds, 10);
        var min = Math.floor(seconds/60);
        var sec = seconds - min * 60;

        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;

        return min + ":" + sec;
    }

    $scope.createSixty = function () {
        return _.range(1, 61).slice().reverse();
    }

    function generate (data) {
        return _.map(data, function (value, key) {
            return {
                reps: key,
                score: value,
                selected: false
            }
        });
    }

    $scope.setScore = function (objs, reps) {
        _.each(objs, function (obj) {
            obj.selected = false;
        });
        _.each(objs, function (obj) {
            if (obj.reps === reps) {
                obj.selected = true;
            }
        });
    }

    function initialize () {
        $scope.runTimings = Object.keys($scope.ipptData.data.run[$scope.ageGroup]);
        $scope.runObjects = generate($scope.ipptData.data.run[$scope.ageGroup]);
        $scope.situpObjects = generate($scope.ipptData.data.situp[$scope.ageGroup]).slice().reverse();
        $scope.pushupObjects = generate($scope.ipptData.data.pushup[$scope.ageGroup]).slice().reverse();
    }

    $http.get('data/ippt-data.json').success(function(data, status) {
        $scope.ipptData = data;
        $scope.ageGroup = 0;
        initialize();
    });

    $scope.variableStation = 'situp';

    $scope.determineColor = function (station, score) {
        if (station !== $scope.variableStation) {
            return '';
        }
        var scores = angular.copy($scope.scores);
        scores = _.omit(scores, station);
        var otherScore =_.reduce(_.values(scores), function (memo, num) { 
            return memo + num; 
        }, 0);
        console.log(station, otherScore);
        var totalScore = score + otherScore;
        if (totalScore > 80) {
            return 'gold';
        }
        if (totalScore > 70) {
            return 'silver';
        }
        if (totalScore > 60) {
            return 'pass-incentive';
        }
        if (totalScore > 50) {
            return 'pass';
        }
    }
});
</script>
<style>
    .active {
        border: 1px solid red;
    }
    .gold {
        background-color: #fff401;
    }
    .silver {
        background-color: #ccc;
    }
    .pass-incentive {
        background-color: #c49400;
    }
    .pass {
        background-color: #28df9c;
    }
</style>
</head>

<body>
    <div ng-controller="testController" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <span ng-repeat="age_group in age_groups">
                    <button class="btn btn-primary" ng-click="changeAgeGroup($index)">{{age_group}}</button>
                </span>
                <p>
                  <label for="amount">Age: </label>
                  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  <div id="slider-range-max"></div>
                </p>
                <p>
                    <label for="variable-station">Variable Station: </label>
                    <select ng-model="variableStation" id="variable-station">
                        <option value="situp">Sit Ups</option>
                        <option value="pushup">Push Ups</option>
                        <option value="run">2.4km</option>
                    </select>
                </label>
                <h2>Score: {{ totalScore() }}</h2>
                <div class="row">

                    <div class="col-md-4 col-xs-4">
                        <h5>Sit Ups</h5>
                        <div ng-click="scores.situp = obj.score; setScore(situpObjects, obj.reps)" 
                            ng-repeat="obj in situpObjects"
                            class=" {{{true: 'active', false: ''}[obj.selected]}}
                                    {{determineColor('situp', obj.score)}}">
                            {{obj.reps}} ({{obj.score}})
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <h5>Push Ups</h5>
                        <div ng-click="scores.pushup = obj.score; setScore(pushupObjects, obj.reps)" 
                            ng-repeat="obj in pushupObjects"
                            class=" {{{true: 'active', false: ''}[obj.selected]}} 
                                    {{determineColor('pushup', obj.score)}}">
                            {{obj.reps}} ({{obj.score}})
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <h5>2.4 km</h5>
                        <div ng-click="scores.run = obj.score; setScore(runObjects, obj.reps)" 
                            ng-repeat="obj in runObjects"
                            class=" {{{true: 'active', false: ''}[obj.selected]}}
                                    {{determineColor('run', obj.score)}}">
                            {{secsToMinSec(obj.reps)}} ({{obj.score}})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
