.gold {
  background-color: #fff401;
}
.silver {
  background-color: #ccc;
}
.pass-incentive {
  background-color: teal;
}
.pass {
  background-color: #28df9c;
}
.fail {
  background-color: red;
}

table {
  width: 100%;
}

tr.clickable:hover {
  background-color: #eee;
  outline: 1px solid teal;
  cursor: pointer;
}
